<footer class="bg-green ph3 pv4 green">
	<div class="mw7 center pt3">
		<div class="measure-narrow center mb4">
			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Nyhedsbrev</p>
			{{ partial "newsletter-form" . }}
		</div>
		<div class="flex justify-center">
			<div>
				<ul class="mhn2 flex-ns justify-between align-center">
					{{ partial "social-icons" . }}
				</ul>
			</div>
		</div>
	</div>
</footer>

{{ partial "svg" . }}
