<footer class="bg-green ph3 pv4 green">
	<div class="mw7 center pt3">
		<div class="measure-narrow center mb4">
			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Nyhedsbrev</p>
			{{ partial "newsletter-form" . }}
		</div>
		<div class="flex-ns justify-center">
			<div>
				<p class="f3 lh-title light-gray b tc mb2 flex justify-between align-center">Sociale Medier</p>
				<ul class="mhn2 flex justify-between align-center">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
				</ul>
			</div>
		</div>
	</div>
</footer>

{{ partial "svg" . }}
